asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.0
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==4.0.3
django-bootstrap4==22.1
django-crispy-forms==1.14.0
django-on-heroku==1.1.2
django-registration==3.2
djangorestframework==3.13.1
numpy==1.22.3
Pillow==9.1.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
python-decouple==3.6
pytz==2022.1
soupsieve==2.3.2
sqlparse==0.4.2
whitenoise==6.0.0
